@page "/post/create"
@using ClientBlazorApp.Services.ServiceInterfaces
@using DTOs.PostDTOs
@rendermode InteractiveServer
@inject IPostService HttpPostService
@inject NavigationManager Nav

<div class="container mt-4">

    <h1>Create Post</h1>

    <div class="card p-4 mt-3">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" @bind="_title" placeholder="Enter post title"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Author ID</label>
            <input class="form-control" type="number" @bind="_userId" placeholder="Enter User ID" />
        </div>
        
        <div class="mb-3">
            <label class="form-label">Body:</label>
            <textarea class="form-control" @bind="_body" placeholder="Write your post..." rows="5"></textarea>
        </div>

        <button class="btn btn-primary" @onclick="AddPostAsync">Add Post</button>

    </div>

</div>

@if (!string.IsNullOrEmpty(_message))
{
    <p class="text-success mt-3">@_message</p>
}

@if (!string.IsNullOrEmpty(_error))
{
    <p class="text-danger mt-3">@_error</p>
}

@code {
    // [CascadingParameter] public Task<AuthenticationState> State { get; set; } = null!;
     
    string _title = string.Empty;
    int? _userId = 1;
    string _body = string.Empty;
    string? _error;
    private string? _message;
    
    /*
    protected override async Task OnInitializedAsync()
    {
        var authState = await State;
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            _error = "You must be logged in.";
            return;
        }

        
        var idStr = user.Claims.SingleOrDefault(c => c.Type == "Id")?.Value;
        if (!int.TryParse(idStr, out var uid))
        {
            _error = "Cannot read your user id from claims.";
            return;
        }

        _userId = uid;
    }
    */

    async Task AddPostAsync()
    {
       if (_userId is null)
        {
            _error = "You must be logged in.";
            _message = null;
            return;
        }

        try
        {
            var added = await HttpPostService.AddPostAsync(new CreatePostDTO
            {
                Title = _title,
                Body  = _body,
                UserId = _userId.Value
            });

            _message = $" Post '{added.Title}' created!";
            _error = null;
            _title = "";
            _body  = "";
        }
        catch (Exception ex)
        {
            _error = $" {ex.Message}";
            _message = null;
        }
        
        
    }
}