@page "/create-post"
@attribute [Authorize]
@using ClientBlazorApp.Services.ServiceInterfaces
@using DTOs.PostDTOs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@inject IPostService PostService


<h3>Add post</h3>
<div class="mb-3">
    <label class="form-label">Title</label>
    <input class="form-control" @bind="title" placeholder="Enter post title" />
</div>

<div class="mb-3">
    <label class="form-label">Author ID</label>
    <input class="form-control" type="number" @bind="authorUserId" placeholder="Enter author ID" />
</div>

<div class="mb-3">
    <label class="form-label">Body</label>
    <textarea class="form-control" @bind="body" placeholder="Write your post..." rows="5"></textarea>
</div>

<button class="btn btn-primary" @onclick="AddPostAsync">Add</button>

@if (!string.IsNullOrEmpty(message))
{
    <p class="text-success mt-3">@message</p>
}

@if (!string.IsNullOrEmpty(error))
{
    <p class="text-danger mt-3">@error</p>
}

@code {
     [CascadingParameter] public Task<AuthenticationState> State { get; set; } = default!;

    string title = "", body = "";
    int? authorUserId = null;
    string? error;
    private string? message;
    
        protected override async Task OnInitializedAsync()
    {
        var authState = await State;
        var user = authState.User;

        if (user.Identity is null || !user.Identity.IsAuthenticated)
        {
            error = "You must be logged in.";
            return;
        }

        
        var idStr = user.Claims.SingleOrDefault(c => c.Type == "Id")?.Value;
        if (!int.TryParse(idStr, out var uid))
        {
            error = "Cannot read your user id from claims.";
            return;
        }

        authorUserId = uid;
    }

    async Task AddPostAsync()
    {
       if (authorUserId is null)
        {
            error = "You must be logged in.";
            message = null;
            return;
        }

        try
        {
            var added = await PostService.AddPostAsync(new CreatePostDTO
            {
                Title = title,
                Body  = body,
                UserId = authorUserId.Value
            });

            message = $" Post '{added.Title}' created!";
            error = null;
            title = "";
            body  = "";
        }
        catch (Exception ex)
        {
            error = $" {ex.Message}";
            message = null;
        }
    }
}