@page "/posts"
@using DTOs.PostDTOs
@using ClientBlazorApp.Services.ServiceInterfaces
@rendermode InteractiveServer
@inject IPostService PostService
@inject NavigationManager Nav

<h1>List of Posts</h1>

@if (_posts == null)
{
    <p><em>Loading...</em></p>
}
else if (!_posts.Any())
{
    <p>No posts yet, <NavLink href="/post/create">want to add a post?</NavLink></p>
}
else
{
    <ul class="list-group">
        @foreach (var post in _posts)
        {
            <li class="list-group-item">
                <b>@post.Title</b>
                <button class="btn btn-link" @onclick="() => ViewDetails(post.UserId)">View Details</button>
            </li>
        }
    </ul>
}

@code {
    private List<OutputPostDTO>? _posts;

    protected override async Task OnInitializedAsync()
    {
        _posts = (await PostService.GetAllPostsAsync("")).ToList();
    }

    private void ViewDetails(int id)
    {
        Nav.NavigateTo($"/post/{id}");
    }
}