<div class="sidebar-container">
    <div class="sidebar-header">
        <h4 class="fw-bold text-white m-0">Zuora</h4>
    </div>

    <nav class="nav flex-column mt-4">
        <NavLink class="nav-item-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door me-2"></i> Home
        </NavLink>

        <NavLink class="nav-item-link" href="/user/create">
            <i class="bi bi-person-plus me-2"></i> Create User
        </NavLink>

        <NavLink class="nav-item-link" href="/post/create">
            <i class="bi bi-pencil-square me-2"></i> Create Post
        </NavLink>

        <NavLink class="nav-item-link" href="/posts/">
            <i class="bi bi-list-ul me-2"></i> View Posts
        </NavLink>

        <NavLink class="nav-item-link" href="counter">
            <i class="bi bi-plus-square me-2"></i> Counter
        </NavLink>

        <NavLink class="nav-item-link" href="weather">
            <i class="bi bi-cloud-sun me-2"></i> Weather
        </NavLink>
    </nav>
</div>

